# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# reg-suit
/storybook-static
.reg
.reg_ws
/__reg_actual_images__
/__screenshots__

# zodios自動生成ソース
/src/lib/server/api/dist/*

# pathpida自動生成ソース
/src/lib/$path.ts

# pages-typegen自動生成ソース
src/types/pages/*

# reports
__reports__
/test-results/
/playwright-report/
/playwright/.cache/
playwright/.auth
memory-reports.log
